ZQuerySiswa.SQL.Clear;
  ZQuerySiswa.SQL.Text := 'SELECT * FROM siswa'; // Mengambil ID dan Nama dari tabel siswa
  ZQuerySiswa.Open;

  cbb_siswa.Items.Clear; // Bersihkan item yang sudah ada

  while not ZQuerySiswa.Eof do
  begin
    // Menambahkan Nama Siswa (kolom 'nama') sebagai teks yang ditampilkan
    // Menyimpan ID Siswa (kolom 'id_siswa') sebagai objek tersembunyi
    cbb_siswa.Items.AddObject(
      ZQuerySiswa.FieldByName('nama').AsString,
      TObject(ZQuerySiswa.FieldByName('id_siswa').AsInteger) // Asumsi ID Siswa bisa dikonversi ke Integer
    );
    ZQuerySiswa.Next;
  end;


  procedure TFObat.cbb_jns_obtEnter(Sender: TObject);
begin
  DM_poli.ZQjenisobat.SQL.Clear;
  DM_poli.ZQjenisobat.SQL.Text := 'SELECT * FROM jenis_obat';
  DM_poli.ZQjenisobat.Open;

  cbb_jns_obt.Items.Clear; // Clear existing items
  while not DM_poli.ZQjenisobat.Eof do
  begin
    // Assuming there is a field 'nama_jenis_obat' in your jenis_obat table
    cbb_jns_obt.Items.AddObject(
      DM_poli.ZQjenisobat.FieldByName('nama').AsString, // Display name
      TObject(DM_poli.ZQjenisobat.FieldByName('id_jenis_obat').AsInteger) // Store ID
    );
    DM_poli.ZQjenisobat.Next;
  end;
end;